<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_horarios.css') }}">
</head>
<body>
    <header>
        <h1>Horarios</h1>
    </header>

    <div class="horarios-container">
        <div class="grado">
            <h2>Séptimo Grado</h2>
            <a href="7-1.html">7-1</a>
            <a href="7-2.html">7-2</a>
            <a href="7-3.html">7-3</a>
            <a href="7-4.html">7-4</a>
        </div>
        <div class="grado">
            <h2>Octavo Grado</h2>
            <a href="8-1.html">8-1</a>
            <a href="8-2.html">8-2</a>
            <a href="8-3.html">8-3</a>
            <a href="8-4.html">8-4</a>
        </div>
        <div class="grado">
            <h2>Noveno Grado</h2>
            <a href="9-1.html">9-1</a>
            <a href="9-2.html">9-2</a>
            <a href="{{ url_for('seccion_9_3') }}">9-3</a>
            <a href="9-4.html">9-4</a>
            <br>
        </div>
        <div class="grado">
            <h2>Décimo Grado</h2>
            <a href="10-1.html">10-1</a>
            <a href="10-2.html">10-2</a>
            <a href="10-3.html">10-3</a>
            <a href="10-4.html">10-4</a>
            <a href="10-5.html">10-5</a>
        </div>
        <div class="grado">
            <h2>Undécimo Grado</h2>
            <a href="11-1.html">11-1</a>
            <a href="{{ url_for('seccion_11_2') }}">11-2</a>
            <a href="11-3.html">11-3</a>
            <br>
            <br>
        </div>
        <div class="grado">
            <h2>Duodécimo Grado</h2>
            <a href="12-1.html">12-1</a>
            <a href="12-2.html">12-2</a>
            <a href="12-3.html">12-3</a>
            <a href="12-4.html">12-4</a>
        </div>
    </div>

    <footer>
        <p><a href="{{ url_for('index') }}">Volver a la página principal</a></p>
    </footer>
</body>
</html>

